@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  border: 1px solid red;
  min-height: 200vh; /* TODO: remove after TopNav implemented */
}